@tailwind base;
@tailwind components;
@tailwind utilities;


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  -webkit-text-fill-color: #111827 !important;

  -webkit-box-shadow:
    0 0 0 1000px #ffffff inset !important;

  box-shadow:
    0 0 0 1000px #ffffff inset !important;

  border: 1px solid #d1d5db !important;

  border-radius: 9999px; /* same as Tailwind rounded-lg */

  transition: background-color 5000s ease-in-out 0s;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}